body {
    background-color: #FE8A71;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*::selection {
    color: #3DA4AB;
}

.main {
    margin: 0 20% 0 20%;
    display: inline-block;
    width: 60%;
    min-height: 100vh;
    background-color: #F6CD61 ;
    border-radius: 5px;
    color: whitesmoke;
}

.inner {
    margin: 0 10% 10% 10%;
}

h1 {
    text-align: center;
    font-size: 10vh;
}